<%- include('../partials/nav.ejs') %>
<div class="show-container">
    <div class="column-one">
        <!-- Add info bar that shows createdBy and who created it -->
        <!-- <p>Created By: <%= group.user.name %></p> -->
        <h2>Groups</h2>
        <ul class="group-list">
            <% const otherGroups = groups.filter(g => g.title !== group.title ) %>
        <% otherGroups.map(g => { %>
            <li><a href="/groups/<%= g._id%>"><%= g.title %></a></li>
        <% }) %>
        </ul>
    </div>
    <div class="column-two">
        <h2><%= group.title %></h2>
        <div class="main-feed">
            <% if (!group.posts.length) { %>
                <img class="empty-feed" src="/images/darkSky.png" referrerpolicy="no-referrer">
            <% } else {%>
            <% group.posts.map(p => { %>
                <div class="post-container">
                    <img src="<%=p.userAvatar %>" alt="avatar" referrerpolicy="no-referrer">
                    <div class="post-info">
                        <div class="post-user">
                            <div class="post-title">
                                <% let time = p.createdAt.toTimeString() %>
                                <div><%= p.userName %> - <span><%= time %></span></div>
                                <div class="post-edit">
                                    <% if (user && user._id.equals(p.user)) { %>
                                        <a class="edit-button" href="/groups/<%= group._id %>/posts/<%= p._id %>/edit">Edit</a>&nbsp;
                                        <form action="/groups/<%= group._id %>/posts/<%= p._id %>?_method=DELETE" method="POST">
                                            <input class="delete-post" type="submit" value="Delete"> 
                                        </form>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="post-content"><%= p.content %></div>
                        <div> 
                            <form class="reply-form" action="/groups/<%= group._id %>/posts/<%= p._id %>/comments" method="post">
                                <input type="text" placeholder="comment" name="content" autocomplete="off">
                            </form>
                        </div>
                        <div>
                            <% if (p.comments.length){ %>

                                <% p.comments.map(comment => { %>
                                    <div class="reply-container">
                                        <img src="<%= comment.userAvatar %>" alt="avatar" referrerpolicy="no-referrer">
                                        <div class="reply-info">
                                            <div class="reply-user">
                                                <div class="reply-title">
                                                    <div><%= comment.userName %></div>
                                                    <div class="reply-edit"></div>
                                                    <% if (user && user._id.equals(comment.user)) { %>
                                                        <form action="/groups/<%= group._id %>/posts/<%= p._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                            <input class="delete-post" type="submit" value="x"> 
                                                        </form>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <%= comment.content %>
                                        </div>
                                    </div>
                                    <% }) %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <br>
            <% }) %>
            <% } %>
        </div>
        <form id="new-post" action="/groups/<%= group._id %>/posts" method="POST">
            <textarea name="content" rows="1" cols="50" wrap="hard"></textarea>
            <input type="submit" value="Add Post">
        </form>
    </div>
    <div class="column-three">
       <h2>Online</h2> 
       <% if(users.length){ %>
        <ul class="online-users">
            <% users.map(user => { %>
                <li>
                    <img src="<%= user.avatar %>">
                    <%= user.name %>
                </li>
            <% }) %>
        </ul>
       <%}%>
       <% if (user && user._id.equals(group.user._id)){ %>
            <form action="/groups/<%= group._id%>?_method=DELETE" method="POST"><button type="submit">DELETE GROUP</button></form>
        <% } %>   
    </div>
</div>
<%- include('../partials/footer') %>